.photo_border {
    border: 1px solid #e7e7e7;
    background: #f7f7f7;
    border-radius: 9px;
    padding: 6px;
}

.photo_info {
    font-size: 8pt;
}

.photo_thumbnail {
    border-radius: 6px;
    width: 128px;
    height: 128px;
}