<div class="row">
    <div class="col-md-12">
        <span class="home_label">MY FOLLOWERS <span class="small">({{ followers.length || 0 | number }})</span></span>
    </div>
    <div class="col-md-12" ng-repeat="follower in followers">
        <img class="avatar16" ng-if="follower.avatarURL" ng-src="{{ follower.avatarURL }}">
        <span ng-click="navigateToProfileViewer(follower._id)" class="sk_clickable">{{ showFullName(follower) }}</span>
        <img ng-show="getOnlineStatus(follower) == 'GREEN'" class="pull-right" src="/assets/images/status/greenlight.png">
        <img ng-show="getOnlineStatus(follower) == 'YELLOW'" class="pull-right" src="/assets/images/status/yellowlight.gif">
        <img ng-hide="getOnlineStatus(follower)" class="pull-right" src="/assets/images/status/offlight.png">
    </div>
    <div ng-hide="isLoading() || followers.length" class="col-md-12">
        <span class="sk_null">No followers found</span>
    </div>
</div>