<div class="home_upload">
    <div class="row">
        <div class="col-md-12">
            <input type="file" nv-file-select="" uploader="uploader" multiple />
        </div>

        <div class="col-md-12" ng-if="uploader.queue.length">
            <span class="home_header">Pending Uploads <span class="home_mini_label small">({{ uploader.queue.length }})</span></span>
            <div>
                <div class="col-md-4">
                    <span class="home_label">Upload Progress</span>
                </div>
                <div class="col-md-8 progress">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                <br style="clear: both">
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name (Preview)</th>
                        <th ng-if="uploader.isHTML5">Size</th>
                        <th ng-if="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <span class="bold">{{ item.file.name }}</span>
                            <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                        </td>
                        <td ng-if="uploader.isHTML5" nowrap>{{ item.file.size / (1024 * 1024) | number:2 }} MB</td>
                        <td ng-if="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="fa fa-check-circle-o"></i></span>
                            <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                            <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
                        </td>
                        <td nowrap>
                            <span class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" title="Upload file">
                                <i class="fa fa-cloud-upload"></i>
                            </span>
                            <span class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" title="Cancel upload">
                                <i class="fa fa-ban"></i>
                            </span>
                            <span class="btn btn-danger btn-xs" ng-click="item.remove()" title="Remove from queue">
                                <i class="fa fa-trash"></i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>